<p>Old Macdonald had a farm,
<br />
E-I-E-I-O.
<br />
And on his farm he had a <b><%= @animal.animal %></b>,
<br />
E-I-E-I-O.
<br />
With a <b><%= @animal.sound %> <%= @animal.sound %></b> here,
<br />
And a <b><%= @animal.sound %> <%= @animal.sound %></b> there,
<br />
Here a <b><%= @animal.sound %></b>, there a <b><%= @animal.sound %></b>,
<br />
Everywhere a <b><%= @animal.sound %> <%= @animal.sound %></b>,
<br />
Old MacDonald had a farm,
<br />
E-I-E-I-O!
</p>